felipe_web/index.html
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>frootbox - Automated comprehensive website check <!-- TODO --></title>
        <meta name="description" content="Automated comprehensive website check."><!-- TODO -->
        <link rel="stylesheet" href="style/main.css">
        <script src="https://use.edgefonts.net/source-sans-pro:n4,i4,n6,i6:all.js"></script>
    </head>
    <body>
        <div id="holder">
            <header>
                <div class="wrapper">
                    <div class="navItem navItemLeft logo"><strong>froot</strong>box</div>
                    <div class="navItem navItemLeft">Features</div>
                    <div class="navItem navItemLeft">Press</div>
                    
                    <div class="navItem navItemRight">Sign in</div>
                    <div class="navItem navItemRight">Plans</div>
                    <div class="navItem navItemRight">Sign up</div>
                </div>
            </header>
            <div id="body">
                <div class="main">
                    <div class="title mainTitle">
                        <div class="mainTitleIntro">Automated, comprehensive website check</div>
                        One-stop awesome
                    </div>
                    
                    <div class="mainTryNowAndSignUp">
                        <div class="mainTryNow">
                            
                            <div class="tryForm"><input name="" id="" type="text" placeholder="www.yourdomain.com"/><button>Check</button></div><div class="tryNowInstructions">Quick check your website</div>
                        </div>
                        or
                        <div class="mainSignUp">
                            
                            <div class="signUpFeatures">
                                <button>Sign Up</button>
                                <p>
                                    <strong>Increased page limit and more!</strong><br />
                                    <em>JS Errors</em>, <em>Console Output</em>, <em>History</em> and <a href="#">Much more...</a></p></div>
                        </div>
                    </div>
                </div>
                
                <div class="mainFeatures">
                    <div class="title mainFeaturesTitle">Give your website some healthy <brandname><strong>froots</strong></brandname></div>
                    <div class="mainFeaturesList">
                        <li><entypo>&#128165;</entypo>Validate
                            
                            <div class="description">
                                Quickly identify all execution and stander compliance errors. 
                                <brandname><strong>froot</strong>box</brandname>  combines the most powerful open tools in a single place, identifying the key issues.
                            </div>
                        </li>
                        <li><entypo>&#128711;</entypo>Performance
                            
                            <div class="description">Wondering why your homepage is becoming more and more $%&# slow?
                                <brandname><strong>froot</strong>box</brandname> will quickly help idently bottlenecks.</div>
                        </li>
                        <li><entypo><font style="font-size:0.6em;">&#128241;</font>&#128187;</entypo>Portability
                            
                            <div class="description">Code, click, preview. All platforms, all resolutions, all devices. <brandname><strong>froot</strong>box</brandname> runs your website in every know device to show you in one place how your masterpiece looks.</div>
                        </li>
                        <li>
                            <div class="mainFeaturesVisual">Visual Feature</div>
                        </li>
                    </div>
                </div>
                <div class="mainRoles">
                    <div class="title mainRolesTitle"><brandname><strong>froot</strong>box</brandname>: your life easier</div>
                    <div class="mainRolesList">
                        <li><div class="mainRolesVisual">Visual Roles</div></li>
                        <li><entypo>&#9874;</entypo>Developers
                            
                            <div class="description list">
                                <brandname><strong>froot</strong>box</brandname> shows you were to improve your site:
                                <ol>
                                    <li>Identify erros and Quick Wins</li>
                                    <li>Identify slow resources</li>
                                    <li>Save testing time</li>
                                </ol>
                            </div>
                        </li>
                        <li><entypo>&#59176;</entypo>Managers
                            
                            <div class="description list">
                                Prioritize your team's time:
                                <ol>
                                    <li>Balance performance v/s Quick Wins</li>
                                    <li>Prioritize testing on relevant platforms</li>
                                    <li>One tool to unify results and previews.</li>
                                </ol>
                            </div>
                        </li>
                        <li><entypo>&#127942;</entypo>Clients
                            
                            <div class="description list">
                                Increase transparency and accountability:
                                <ol>
                                    <li>Validate your web products</li>
                                    <li>Compare developers and results</li>
                                    <li>Get what you are paying for!</li>
                                </ol>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="wrapper">
            <leftLinks>
                <brandname><strong>froot</strong>box</brandname>
                <footerLinks>About us</footerLinks>
                <footerLinks>Contact</footerLinks>
                <footerLinks>Help</footerLinks>
            </leftLinks>
            <rightLinks>
                <footerLinks>Join us</footerLinks>
                <footerLinks>Press</footerLinks>
                <footerLinks>Legal</footerLinks>
                <copyright>
                    Proudly made in <a href="http://en.wikipedia.org/wiki/Talcahuano"><strong>Talcahuano, Chile</strong></a>
                    and
                    <strong>San Francisco, California</strong>. FrootBox © 2014</copyright>
            </rightLinks>
            </div>
        </footer>
    </body>
</html>

views/index.jade
extends neolayout

block content    
    .main
      .title.mainTitle
        .mainTitleIntro Automated, comprehensive website check
        | One-stop awesome
      .mainTryNowAndSignUp
        .mainTryNow
          form.tryForm(action="/check",method="post")
            input(type="text",name="url",placeholder="www.yourdomain.com")
            input(type="submit",value="Check")
          .tryNowInstructions Quick check your website
        | or
        .mainSignUp
          .signUpFeatures
            form(method="get",action="/register")
              button(onclick="this.form.submit();")  Sign Up
            p
              strong  Increased page limit and more!
              br
              em  JS Errors
              | ,
              em  Console Output
              | , 
              em  History
              | and
              a(href="#") Much more...
    .mainFeatures
      .title.mainFeaturesTitle  Give your website some healthy
        brandname
          strong  froots
      .mainFeaturesList
        li
          entypo  &#10003;
          h3 Validate            
          .description
            | Quickly identify all execution and stander compliance errors. <brandname><strong>froot</strong>box</brandname> combines the most powerful open tools in a single place, identifying the key issues.
        li
          entypo  &#59249;
          h3  Performance              
          .description
            | Wondering why your homepage is becoming more and more $%&# slow?. <brandname><strong>froot</strong>box</brandname> will quickly help idently bottlenecks.
        li
          entypo  &#59190;
          h3  Portability              
          .description
            | Code, click, preview. All platforms, all resolutions, all devices. <brandname><strong>froot</strong>box</brandname> runs your website in every know device to show you in one place how your masterpiece looks.
        li
          .mainFeaturesVisual
            if (user)              
              h3 Last private checks
              ul.public-list
               - each check in checks
                li
                  | <a href="/check/#{check._id ? check._id : ''}"><img src="http://g.etfv.co/http://#{check._domain[0].hostname ? check._domain[0].hostname : ''}" alt="Favicon" width="16" height="16" />#{check._domain[0].hostname ? check._domain[0].hostname : ''}</a>
            else              
              h3 Last healthy checks
              ul.public-list
               - each check in checks
                li
                  | <a href="/check/#{check._id ? check._id : ''}"><img src="http://g.etfv.co/http://#{check._domain[0].hostname ? check._domain[0].hostname : ''}" alt="Favicon" width="16" height="16" />#{check._domain[0].hostname ? check._domain[0].hostname : ''}</a>
    .mainRoles
      .title.mainRolesTitle
        brandname
          |  <strong>froot</strong>box
        | : your life easier
      .mainRolesList       
        li
          entypo  &#9998;
          h3 Developers              
          .description.list
            | <em>Shows you were to <br /><strong>improve your site</strong></em>
            ol
              li  Identify erros and Quick Wins
              li  Identify slow resources
              li  Save testing time         
        li
          entypo  &#59290;
          h3  Managers
          .description.list
            | <em>Where prioritize <br /><strong>your team's time</strong></em>
            ol
              li  Balance performance v/s Quick Wins
              li  Prioritize testing on relevant platforms
              li  One tool to unify results and previews.
        li
          entypo  &#128100;
          h3 Clients 
          .description.list
            | <em>Increase transparency and <br /> accountability</em>
            ol
              li  Validate your web products
              li  Compare developers and results
              li  Get what you are paying for!  
